{% extends 'landing_page/base.html' %}
{% load static %}

{% block title %} 

<title>Home Page</title> 

{% endblock %}

{%block navbar %}

<a class="nav-link" aria-current="page" href="{% url 'one_page:home_page' %}">Home</a>
<!-- <a class="nav-link" href="#">Features</a> -->
<a class="nav-link active" href="{% url 'one_page:about_page' %}">About us</a>

{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="rounded-circle" src="{% static 'landing_page/img/profile1.jpg' %}" alt="Profile Image" width="140" height="140">
                    <h2>CEO</h2>
                    <p>Wannabe introvert. Incurable zombie lover. Tv guru. Passionate coffeeaholic. Total music scholar.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Linkedin &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <img class="rounded-circle" src="{% static 'landing_page/img/profile2.jpg' %}" alt="Profile Image" width="140" height="140">
                    <h2>CTO</h2>
                    <p>Infuriatingly humble bacon fanatic. Prone to fits of apathy. Gamer. Passionate student. Dog lover.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Linkedin &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <img class="rounded-circle" src="{% static 'landing_page/img/profile3.jpg' %}" alt="Profile Image" width="140" height="140">
                    <h2>CMO</h2>
                    <p>Friend of animals everywhere. Future teen idol. General internet junkie. Evil webaholic. Extreme reader. Gamer.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Email &raquo;</a></p>
                </div>
            </div>
        </div>
 
    {% endblock %}