{% extends 'landing_page/base.html' %}
{% load static %}

{% block title %} 

<title>Home Page</title> 

{% endblock %}

{%block navbar %}

<a class="nav-link active" aria-current="page" href="{% url 'one_page:home_page' %}">Home</a>
<!-- <a class="nav-link" href="#">Features</a> -->
<a class="nav-link" href="{% url 'one_page:about_page' %}">About us</a>

{% endblock %}


    {% block content %}
    
    <main class="px-3" >
        
        <h1>Our Product</h1>
        <h1>will be ready soon.</h1>
        
        <p class="lead">
            Insert here a clever marketing message to encourage people to leave their mail to stay updated with the
            go-live of your product.
        </p>

        
        <form action="" method="post">
            <div class="form-group"> 
                {% csrf_token %}
                {% for field in form %}
                    <div class="lead form-group">
                        <label for=""> {{ field.label }} </label>
                    </div>
                    <br>
                    <div class="form-group mx-sm-5 mb-4">
                        <input
                            class="form-control"
                            type="{{ field.type }}"
                            id="{{ field.auto_id }}"
                            name="{{ field.html_name }}"
                            class="form-control"
                            maxlength="{{ field.max_length }}"
                            id="{{ field.id_for_label }}"
                            placeholder="your_mail@email.com"
                            required
                        />
                        <!--<br><small id="emailHelp" class="form-text text-muted">We hate spam as much as you do.</small>-->          
                    </div>
                {% endfor %}
                <div class="row checkbox-row">
                    <div class="col-xs-2 col-xs-offset-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">Flag the privacy consent</label>
                    </div>
                </div>
                <br>
                <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">Submit</button>
            </div> 
        </form>
        <br>
        {{ warning }}

    </main>
    
    {% endblock %}
