{% extends 'landing_page/base.html' %}
{% load static %}

{% block title %} <title>Home Page</title> {% endblock %}

    {% block content %}
    <a class="nav-link active" aria-current="page" href="{% url 'one_page:home_page' %}">Home</a>
    <!-- <a class="nav-link" href="#">Features</a> -->
    <a class="nav-link" href="{% url 'one_page:about_page' %}">About us</a>
    </nav>
</div>
</header>


    <main class="px-3">
        
        <h1>Our Product</h1>
        <h1>will be ready soon.</h1>
        
        <p class="lead">
            Insert here a clever marketing message to encourage people to leave their mail to stay updated with the
            go-live of your product.
        </p>

        <form action="" method="post"> 
            {% csrf_token %}
            {% for field in form %}
                <div class="lead form-group">
                    {{ field.label }}
                </div>
                <br>
                <div class="form-group mb-2">
                    {{ field }}
                    <!--<br><small id="emailHelp" class="form-text text-muted">We hate spam as much as you do.</small>-->          
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">Submit</button> 
        </form>
        <br>
        {{ warning }}  

    </main>
    {% endblock %}
