{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ project.image.url }}" alt="" width="80%">
        </div>
        <div class="col-md-4">
            <h5>About the project:</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ project.technology }}</p>

            <!-- work in progress -->
            <!-- https://stackoverflow.com/questions/54974700/how-to-increment-next-record-in-django-templates -->

            {% for item in projects %}
                <p>{{ item }}</p>
            {% endfor %}
            {{ projects|length }}
            
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
                Next
            </button>
          

        </div>
    </div>
{% endblock %}